extends ..\layout

block content
    h1= title
    if pet
        .pet
           image(src=pet.image_url alt="pet_image")
           .content
             .description
                h3  Description
                p= pet.description
             .carring_for_pet
               h3  Carring For Pet
               p= pet.carring_for_pet
             .is_this_pet_right_for_you 
              h3 Is This Pet Right for You?
              p= pet.is_this_pet_right_for_you
